$yellow-color: #fece42;
$blue-dark-color: #0b1f84;
$blue-navy-color: #05114b;
$blue-light-color: #018bf8;
$blue-font-color: #0b38f2;
$blue-dark-font-color: #042971;
$green-font-color: #04b9ac;
$font-family: 'DINNext';
